<div class="container">

    <div class="jumbotron">
        <div class="container">



            <h1>Hello:{{activeUser.fname}}</h1>

            Time Order:
            <input type="date" ng-model="fromDate" />
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="sel1">Select Treatment :</label>


                    <select class="form-control" id="sel1">
                        <option>Select One</option>
                        <option>Pedicure</option>
                        <option>Manicure</option>
                        <option>Face</option>
                    </select>
            </form>
            <br>
            <br>

            <div style="margin-bottom: 1em; display: block;" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <table class="table ">
                    <tr>

                        <!--  <th>{{days[i]}}</th>-->
                        <th>Hours</th>
                        <th ng-repeat="day in weeks">{{day}}</th>

                    </tr>
                    <tr ng-repeat="hour in hours">
                        <td>{{hour}}</td>
                        <td ng-repeat="day in weeks" ng-click="makeAppt(day, hour, order)">{{apptData(day, hour, order)}}</td>

                      <th data-ng-repeat="order in orders">{{order.type + " " + order.name}}
                         <!--   <td> {{order.type}}</td>
                            <td> {{order.name}}</td>
                           <!-- <td ng-repeat="day in weeks" ng-click="makeAppt(day, hour)">{{orderData(type,name)}}</td>-->

                        </th>
                    </tr>

                </table>


            </div>

            </div>
        </div>
    </div>