<div class="container">

    <div class="jumbotron">
        <div class="container">
            <h1>Hello:{{activeUser.fname}}</h1>
        

            Time Order:
            <input type="date" ng-model="fromDate" />
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="sel1">Select Treatment :</label>


                    <select class="form-control" id="sel1">
                        <option>Select One</option>
                        <option>Pedicure</option>
                        <option>Manicure</option>
                        <option>Face</option>
                    </select>
            </form>
            <br>
            <br>

            <div style="margin-bottom: 1em; display: block;" class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>

                        <!--  <th>{{days[i]}}</th>-->
                        <th>Hours</th>
                        <th ng-repeat="day in weeks">{{day}}</th>

                    </tr>
                    <tr ng-repeat="hour in hours">
                        <td>{{hour}}</td>
                        <td ng-repeat="day in weeks" ng-click="makeAppt(day, hour)">
                            {{apptData(day, hour)}}
                            <!-- {{order.type + " " + order.name}} -->

                        </td>
                        <!-- 
                      <th data-ng-repeat="order in orders">{{order.type + " " + order.name}}
                         <!--   <td> {{order.type}}</td>
                            <td> {{order.name}}</td>
                           <!-- <td ng-repeat="day in weeks" ng-click="makeAppt(day, hour)">{{orderData(type,name)}}</td>

                        </th>-->
                    </tr>

                </table>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Hello: {{activeUser.fname}}</h4>
                            </div>
                            <div class="modal-body">
                                <p></p>
                            </div>
                            <div class="container">
                                <label for="sel1"> Select Treatment :</label>
                            </div>
                            <div class="container">

                                <select class="form-control" id="sel1">
                                    <option>Select One</option>
                                    <option>Pedicure</option>
                                    <option>Manicure</option>
                                    <option>Face</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

            </div>
        </div>
    </div>